.conteneur {
	background-color: rgb(160,60,242);
	margin: 100px;
	border: 2px solid;
	border-radius: 25px;
}


[class*="col-"] {
	line-height: 40px;
	text-align: center;
}

#select {
	background-color: rgb(95,11,164);
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom: 1%;
	margin-top: 1%;
	color: white;
}

#affiche {
	font-size: 30px;
	color: white;
	margin-bottom: 1%;
	
}
